footer {
    padding: 15px 5px 20px 5px;
    margin-top: 20px;
    background-color: #252525;
    color: #ffffff;
}

footer section a {
    color: #ffffff;
    padding: 0px 10px 0px 10px;
}

i {
    padding: 0px 2px 0px 2px;
}

.bacordion {
    color: #b06f31;
    font-weight: 700;
    border-color: #c6c6c6;
    text-align: justify;
    width: 100%;
}

.bform {
    color: black;
    background-color: #1790b0;
}

.binicio {
    color: #F5F5F5;
    background-color: #4B3961;
    position: justify;
    width: 100%;
    margin-top: 15px;
}

.btarjetas {
    color: #ffffff;
    background-color: #b06f31;
    position: justify;
    width: 100%;
    margin-top: 15px;
}

.cards {
    margin: 30px 50px 50px 50px;
}

.icard {   
    max-height: 250px;
}

.img-fluid {
    width: 100%;
    margin: 20px 0px 5px 0px;
}

.info-inicio {
    margin-top: 20px;
}

.jumbotron {
    color: #1790b0;
    background-color: #252525; 
    margin-top: 55px;
}

.lipago {
    padding-left: 100px;
    font-weight: 600;
}

.notae {
    padding-left: 40px;
    font-size: 0.9em;
    font-weight: 600;
    color: #b06f31;
}

.photo {
    flex: 1 200px;
    padding: 10px 5px 10px 5px;
    margin: 0px 5px 0px 5px;
}

.pilas {
    background-color: #4B3961;
    color: #ffffff;
    margin: 40px 20px 0px 0px;
    padding: 7px 20px 7px 20px;
}

.tab-content {
    padding-top: 20px;
}

.titabla {
    padding: 15px 0px 15px 0px;
}

.titulo-inicio {
    color: #b06f31;
    text-decoration: none;
}

