footer {
  padding: 15px 5px 20px 5px;
  margin-top: 20px;
  background-color: #252525;
  color: #F5F5F5; }

footer section a {
  color: #F5F5F5;
  padding-left: 10px;
  padding-right: 10px; }

i {
  padding-left: 2px;
  padding-right: 2px; }

.bacordion {
  color: #b06f31;
  font-weight: 700;
  border-color: #c6c6c6;
  text-align: justify;
  width: 100%; }

.balt {
  color: #252525;
  border-color: #b06f31; }

.bform {
  color: #F5F5F5;
  background-color: #1790b0;
  margin-top: 15px; }

.binicio {
  color: #F5F5F5;
  background-color: #4B3961;
  position: justify;
  width: 100%;
  margin-top: 15px; }

.btarjetas {
  color: #F5F5F5;
  background-color: #b06f31;
  position: justify;
  width: 100%;
  margin-top: 15px; }

.cards {
  margin: 30px 50px 50px 50px; }

.icard {
  max-height: 250px; }

.img-fluid {
  width: 100%;
  margin: 20px 0px 5px 0px; }

.info-inicio {
  margin-top: 20px; }

.jumbotron {
  color: #1790b0;
  background-color: #252525;
  margin-top: 55px; }

.lipago {
  padding-left: 100px;
  font-weight: 600; }

.notae {
  padding-left: 40px;
  font-size: 0.9em;
  font-weight: 600;
  color: #b06f31; }

.photo {
  flex: 1 200px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px 5px 0px 5px; }

.pilas {
  background-color: #4B3961;
  color: #F5F5F5;
  margin: 40px 20px 0px 0px;
  padding: 7px 20px 7px 20px; }

.tab-content {
  padding-top: 20px; }

.tifotos {
  color: #b06f31;
  font-weight: 600;
  font-size: 60px;
  letter-spacing: 1.2rem;
  margin-bottom: 25px; }

.titabla {
  padding-top: 15px;
  padding-bottom: 15px; }

.titulo-inicio {
  color: #b06f31;
  text-decoration: none; }
