$waterblue: #1790b0;
$purple: #4B3961;
$darkorange: #b06f31;
$darkbg: #252525;
$white: #F5F5F5;

@mixin espacioh($pleft, $pright){
    padding-left: $pleft;
    padding-right: $pright;
}

@mixin espaciov($ptop, $pbottom){
    padding-top: $ptop;
    padding-bottom: $pbottom;
}

footer {
    padding: 15px 5px 20px 5px;
    margin-top: 20px;
    background-color: $darkbg;
    color: $white;
}

footer section a {
    color: $white;
    @include espacioh(10px, 10px);
}

i {
    @include espacioh(2px, 2px)
}

.bacordion {
    color: $darkorange;
    font-weight: 700;
    border-color: #c6c6c6;
    text-align: justify;
    width: 100%;
}

.balt {
    color: $darkbg;
    border-color: $darkorange;
}

.bform {
    color: $white;
    background-color: $waterblue;
    margin-top: 15px;
}

.binicio {
    color: $white;
    background-color: $purple;
    position: justify;
    width: 100%;
    margin-top: 15px;
}

.btarjetas {
    color: $white;
    background-color: $darkorange;
    position: justify;
    width: 100%;
    margin-top: 15px;
}

.cards {
    margin: 30px 50px 50px 50px;
}

.card-columns {
  
}

.icard {   
    max-height: 250px;
}

.img-fluid {
    width: 100%;
    margin: 20px 0px 5px 0px;
}

.info-inicio {
    margin-top: 20px;
}

.jumbotron {
    color: $waterblue;
    background-color: $darkbg; 
    margin-top: 55px;
}

.lipago {
    padding-left: 100px;
    font-weight: 600;
}

.notae {
    padding-left: 40px;
    font-size: 0.9em;
    font-weight: 600;
    color: $darkorange;
}

.photo {
    flex: 1 200px;
    @include espacioh(5px, 5px);
    @include espaciov(10px, 10px);
    margin: 0px 5px 0px 5px;
}

.pilas {
    background-color: $purple;
    color: $white;
    margin: 40px 20px 0px 0px;
    padding: 7px 20px 7px 20px;
}

.tab-content {
    padding-top: 20px;
}

.tifotos {
    color: $darkorange;
    font-weight: 600;
    font-size: 60px;
    letter-spacing: 1.2rem;
    margin-bottom: 25px;
}

.titabla {
    @include espaciov(15px, 15px);
}

.titulo-inicio {
    color: $darkorange;
    text-decoration: none;
}

